html{
	scroll-behavior: smooth;
}

body {
	color: white;
	text-align: justify;
	background-color: black;
}

#MainContents {
	padding-top: 80px;
}

#Contact{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #212529;
}