html {
	scroll-behavior: smooth;
}

body {
	color: white;
	text-align: justify;
	background-color: black;
	text-align-last: center;
}

#MainContents {
	margin-top: 80px;
}

#Introduction {
	margin: auto;
	padding-left: 10%;
	padding-right: 10%;
}

#ContactMe {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #212529;
}